:root {
  --switch-color-light: #888;
  --switch-color-dark: #fff;
}

body.light {
  --body-bg: #f5f4fa;
  --color-light: #888;
  --color-dark: #fff;
}

body.dark {
  /* 
  header #1f1f1f
  header text #cfcfcf #dcdcdc
  body back - #121212
  play card back #1d1d1d
  play card textSecondary #8e8e8e
  play card textMain #e6e6e6



  */
  --body-bg: #1d1d1d;
  --color-light: #888;
  --color-dark: #fff;
}

.colors {
  background-color: #da4453; /* grapefruit-main */
  background-color: #ed5565; /* grapefruit-light-1 */
  background-color: #fe6676; /* grapefruit-light-2 */
  background-color: #e9573f; /* bittersweet-main */
  background-color: #fc6e51; /* bittersweet-light-1 */
  background-color: #fd7f62; /* bittersweet-light-2 */
  background-color: #f68b42; /* sunflower-main */
  background-color: #ffce54; /* sunflower-light-1 */
  background-color: #ffdf65; /* sunflower-light-2 */
  background-color: #8cc152; /* grass-main */
  background-color: #a0d468; /* grass-light-1 */
  background-color: #b1e579; /* grass-light-2 */
  background-color: #37bc9b; /* mint-main */
  background-color: #48cfad; /* mint-light-1 */
  background-color: #59dfbe; /* mint-light-2 */
  background-color: #3bafda; /* aqua-main */
  background-color: #4fc1e9; /* aqua-light-1 */
  background-color: #5fd2fa; /* aqua-light-2 */
  background-color: #4a89dc; /* blue-main */
  background-color: #5d9cec; /* blue-light-1 */
  background-color: #6eadfd; /* blue-light-2 */
  background-color: #967adc; /* lavander-main */
  background-color: #ac92ec; /* lavander-light-1 */
  background-color: #bda3fd; /* lavander-light-2 */
  background-color: #d770ad; /* rose-main */
  background-color: #ec87c0; /* rose-light-1 */
  background-color: #fd98d1; /* rose-light-2 */
  background-color: #e6e9ed; /* light-gray-main */
  background-color: #f5f7fa; /* light-gray-light-1 */
  background-color: #f6f8fb; /* light-gray-light-2 */
  background-color: #aab2bd; /* medium-gray-main */
  background-color: #ccd1d9; /* medium-gray-light-1 */
  background-color: #dde2ea; /* medium-gray-light-2 */
  background-color: #434a54; /* dark-gray-main */
  background-color: #656d78; /* dark-gray-light-1 */
  background-color: #767e89; /* dark-gray-light-2 */
}

html {
  box-sizing: border-box;
  height: 100%; /* sticky footer */
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

body {
  margin: 0;
  background-color: var(--body-bg);
}

img {
  display: block; /* margin-bottom disappears */
  max-width: 100%; /* width isn't larger then parent */
  height: auto; /* correct scaling */
}

a {
  text-decoration: none;
  color: inherit;
}

.page {
  overflow: hidden;
  display: flex; /* sticky footer */
  flex-direction: column; /* sticky footer */
  min-height: 100vh; /* sticky footer */
}

/* SEX 
background-color = --header-bg
color = --header-text
box-shadow = --header-shadow
*/
.header,
.footer {
  background-color: #fafafa;
  color: #464646;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 12px rgb(0 0 0 / 30%);
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.header {
  margin-bottom: 16px;
  height: 64px;
}

.footer {
  height: 40px;
  margin-top: auto; /* sticky footer */
}

.developer {
  font-weight: 700;
}

.heading {
  text-align: center;
  font-family: 'Acme', sans-serif;
  font-size: 36px;
  margin: 0;
  width: 308px;
}

.heading > .color-1 {
  color: #ac92ec;
  text-shadow: #000 1px 1px 1px;
}
.heading > .color-2 {
  color: #4fc1e9;
  text-shadow: #000 1px 1px 1px;
}
.heading > .color-3 {
  color: #5d9cec;
  text-shadow: #000 1px 1px 1px;
}
.heading > .color-4 {
  color: #ec87c0;
  text-shadow: #000 1px 1px 1px;
}
.heading > .color-5 {
  color: #fc6e51;
  text-shadow: #000 1px 1px 1px;
}
.heading > .color-6 {
  color: #f68b42;
  text-shadow: #000 1px 1px 1px;
}

.logo {
  width: 32px;
  height: 32px;
  border-radius: 2px;
  overflow: hidden;
  cursor: pointer;
}

#settings {
  width: 32px;
  height: 32px;
  border: 1px solid #aaa;
  border-radius: 2px;
  transition: border-color 0.2s;
  padding: 6px 4px;
  cursor: pointer;
}

.beam {
  width: 100%;
  height: 4px;
  background-color: #aaa;
  transition: background-color 0.2s;
  margin-bottom: 3px;
  border-radius: 1px;
}

#settings:hover {
  border-color: #444;
}

#settings:hover .beam {
  background-color: #444;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interface {
  margin: 0 auto 8px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#matrix {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 0px 8px rgb(0 0 0 / 30%);
  margin-bottom: 20px;
  padding: 12px;
}

#displayLevel {
  display: flex;
  width: 42px;
  height: 42px;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  font-size: 22px;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  border-radius: 5px;
  border: 2px solid #3bafda;
  background-color: #f8f0af;
  margin: 0;
}

#decreaseLevel,
#increaseLevel,
#min,
#max {
  width: 48px;
  height: 32px;
  padding: 2px;
  transition: background-color 0.2s;
  border: 2px solid #aaa;
}

#min {
  border-radius: 16px 0 0 16px;
  border-right: 0;
}

#decreaseLevel {
  border-radius: 0;
  border-right: 0;
}

#increaseLevel {
  border-radius: 0;
  border-left: 0px;
}

#max {
  border-radius: 0 16px 16px 0;
  border-left: 0px;
}

#decreaseLevel:disabled,
#increaseLevel:disabled,
#min:disabled,
#max:disabled {
  border-color: #ccc;
}

#decreaseLevel:hover:enabled,
#increaseLevel:hover:enabled,
#min:hover:enabled,
#max:hover:enabled {
  background-color: #bddff1;
}

#status-bar {
  margin-bottom: 14px;
  display: flex;
  justify-content: center;
}

.status-quad {
  width: 10px;
  height: 10px;
  border: 1px solid #222;
  background-color: rgba(255, 255, 255, 0);
}

.status-quad:not(:last-child) {
  margin-right: -1px;
}

.row {
  display: flex;
}

.quad {
  border: 1px solid #222;
  background-color: #fff;
}

.tiny {
  border-radius: 2px;
  margin: 3px;
  width: 40px;
  height: 40px;
}

.small {
  border-radius: 2px;
  margin: 4px;
  width: 50px;
  height: 50px;
}

.medium {
  border-radius: 3px;
  margin: 5px;
  width: 60px;
  height: 60px;
}

.large {
  border-radius: 3px;
  margin: 6px;
  width: 70px;
  height: 70px;
}

.giant {
  border-radius: 4px;
  margin: 7px;
  width: 80px;
  height: 80px;
}

.result-wrong .missed {
  animation: blink 1.2s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

#next {
  width: 72px;
  height: 32px;
  outline-style: none;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  transition: transform 0.2s;
  border: 2px solid #aaa;
  border-radius: 16px;
}

#next:disabled {
  border-color: #ccc;
}

#next:hover:enabled {
  box-shadow: 0 0px 4px 1px #3bafda;
  border-color: #3bafda;
  background-color: #e2edf7;
  transform: translateY(1px);
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.unclickable {
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 64px);
  width: 310px;
  height: 310px;
  border-radius: 4px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 8px;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.close-modal {
  position: absolute;
  width: 32px;
  height: 32px;
  padding: 2px;
  border: 2px solid transparent;
  border-radius: 2px;
  cursor: pointer;
}

[data-close-about] {
  left: -31px;
  top: -48px;
}

[data-close-settings] {
  left: 309px;
  top: -48px;
}

.close-modal:hover #close-modal-icon {
  fill: #444;
}

.property-row {
  height: 32px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
}

.property-name {
  width: 98px;
  text-align: end;
}

.property-output {
  width: 88px;
  height: 22px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #888;
  border-radius: 2px;
}

.property-toggle {
  margin-left: auto;
  margin-right: auto;
}

.quad-size-preview {
  margin: 10px auto auto;
  background-color: #4a89dc;
}

#save-settings,
#about-ok {
  margin: auto auto 8px;
  width: 60px;
  height: 32px;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  cursor: pointer;
}

input[type='range'] {
  width: 98px;
  cursor: pointer;
}

input[type='checkbox'] {
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  height: 17px;
  width: 32px;
  cursor: pointer;
}

#theme-toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.round {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 17px;
  width: 32px;
  background-color: var(--switch-color-light);
  border-radius: 4px;
  transition: all 0.2s 0s ease;
}

.round::before {
  position: absolute;
  left: 2px;
  top: 2px;
  content: '';
  height: 13px;
  width: 13px;
  border-radius: 2px;
  background-color: var(--switch-color-dark);
  transition: all 0.2s 0s ease;
}

#theme-toggle:checked + .round {
  background-color: var(--switch-color-dark);
}

#theme-toggle:checked + .round::before {
  transform: translateX(15px);
  background-color: var(--switch-color-light);
}

.text-about {
  width: 250px;
  margin: 0 auto;
  text-align: center;
}

.text {
  margin: 16px 0;
}

.br {
  display: block;
}

/* @media screen and (max-width: 480px) {
  .value {
    font-size: 40px;
  }
  .field {
    padding: 0 7px 5px;
    border-radius: 2px;
  }
  .field:not(:last-child) {
    margin-right: 10px;
  }
  .label {
    font-size: 11px;
  }
} */

/* 
  -moz-box-shadow:
  -webkit-box-shadow:
  box-shadow:
*/
