/* :root {
  --background-primary: #f8f5eb;
  --background-footer-primary: #1e1e31;
  --background-footer-secondary: #292839;
  --text-primary: #2f3149;
  --text-secondary: #b3b3b3;
  --text-footer: #f8f5eb;
  --text-hover-and-contrast: #eb2227;
  --form-footer: #4b4b5a;
  --yellow-on-dark: #ecaa39;
  --blue-on-dark: #2ebec7;
}
*/

.colors {
  background-color: #da4453; /* grapefruit-main */
  background-color: #ed5565; /* grapefruit-light-1 */
  background-color: #fe6676; /* grapefruit-light-2 */
  background-color: #e9573f; /* bittersweet-main */
  background-color: #fc6e51; /* bittersweet-light-1 */
  background-color: #fd7f62; /* bittersweet-light-2 */
  background-color: #f68b42; /* sunflower-main */
  background-color: #ffce54; /* sunflower-light-1 */
  background-color: #ffdf65; /* sunflower-light-2 */
  background-color: #8cc152; /* grass-main */
  background-color: #a0d468; /* grass-light-1 */
  background-color: #b1e579; /* grass-light-2 */
  background-color: #37bc9b; /* mint-main */
  background-color: #48cfad; /* mint-light-1 */
  background-color: #59dfbe; /* mint-light-2 */
  background-color: #3bafda; /* aqua-main */
  background-color: #4fc1e9; /* aqua-light-1 */
  background-color: #5fd2fa; /* aqua-light-2 */
  background-color: #4a89dc; /* blue-main */
  background-color: #5d9cec; /* blue-light-1 */
  background-color: #6eadfd; /* blue-light-2 */
  background-color: #967adc; /* lavander-main */
  background-color: #ac92ec; /* lavander-light-1 */
  background-color: #bda3fd; /* lavander-light-2 */
  background-color: #d770ad; /* rose-main */
  background-color: #ec87c0; /* rose-light-1 */
  background-color: #fd98d1; /* rose-light-2 */
  background-color: #e6e9ed; /* light-gray-main */
  background-color: #f5f7fa; /* light-gray-light-1 */
  background-color: #f6f8fb; /* light-gray-light-2 */
  background-color: #aab2bd; /* medium-gray-main */
  background-color: #ccd1d9; /* medium-gray-light-1 */
  background-color: #dde2ea; /* medium-gray-light-2 */
  background-color: #434a54; /* dark-gray-main */
  background-color: #656d78; /* dark-gray-light-1 */
  background-color: #767e89; /* dark-gray-light-2 */
}

html {
  box-sizing: border-box;
  height: 100%; /* sticky footer */
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

body {
  margin: 0;
  background: #f5f4fa;
}

img {
  display: block; /* margin-bottom disappears */
  max-width: 100%; /* width isn't larger then parent */
  height: auto; /* correct scaling */
}

a {
  text-decoration: none;
  color: inherit;
}

.page {
  overflow: hidden;
  display: flex; /* sticky footer */
  flex-direction: column; /* sticky footer */
  min-height: 100vh; /* sticky footer */
}

.header,
.footer {
  background-color: #fafafa;
  /* background-color: #464646; */
  color: #464646;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 12px rgb(0 0 0 / 30%);
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.header {
  margin-bottom: 16px;
  height: 64px;
}

.footer {
  height: 40px;
  margin-top: auto; /* sticky footer */
}

.developer {
  font-weight: 700;
}

.heading {
  text-align: center;
  font-family: 'Acme', sans-serif;
  font-size: 36px;
  margin: 0;
  /* background-color: tan; */
  width: 308px;
}

.heading > .color-1 {
  color: #ac92ec;
  text-shadow: #000 1px 1px 1px;
}
.heading > .color-2 {
  color: #4fc1e9;
  text-shadow: #000 1px 1px 1px;
}
.heading > .color-3 {
  color: #5d9cec;
  text-shadow: #000 1px 1px 1px;
}
.heading > .color-4 {
  color: #ec87c0;
  text-shadow: #000 1px 1px 1px;
}
.heading > .color-5 {
  color: #fc6e51;
  text-shadow: #000 1px 1px 1px;
}
.heading > .color-6 {
  color: #f68b42;
  text-shadow: #000 1px 1px 1px;
}

.logo {
  width: 32px;
  height: 32px;
}

.settings {
  /* margin-top: 6px; */
  /* margin-left: 14px; */
  width: 32px;
  height: 32px;
  /* border: 2px solid #999999; */
  /* border-radius: 50%; */
  /* background-color: tomato; */
  background-image: url('../images/cog.svg');
  background-repeat: no-repeat;
  background-size: contain;
  transition: transform 0.5s;
}

.settings:hover {
  transform: rotate(30deg);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interface {
  margin: 0 auto 8px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#matrix {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 0px 8px rgb(0 0 0 / 30%);
  margin-bottom: 20px;
  padding: 12px;
}

#displayLevel {
  display: flex;
  width: 42px;
  height: 42px;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  /* background-color: tan; */
  font-size: 22px;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  border-radius: 5px;
  border: 2px solid #3bafda;
  background-color: #f8f0af;
  margin: 0;
}

#decreaseLevel,
#increaseLevel,
#min,
#max {
  width: 48px;
  height: 32px;
  padding: 2px;
  transition: transform 0.2s;
  border: 2px solid #aaa;
}

#min {
  border-radius: 16px 0 0 16px;
  border-right: 0;
}

#decreaseLevel {
  border-radius: 0;
  border-right: 0;
}

#increaseLevel {
  border-radius: 0;
  border-left: 0px;
}

#max {
  border-radius: 0 16px 16px 0;
  border-left: 0px;
}

#decreaseLevel:disabled,
#increaseLevel:disabled,
#min:disabled,
#max:disabled {
  border-color: #ccc;
}

#decreaseLevel:hover:enabled,
#increaseLevel:hover:enabled,
#min:hover:enabled,
#max:hover:enabled {
  background-color: #bddff1;
}

/* min-icon minus-icon plus-icon max-icon */

#status-bar {
  /* background-color: tan; */
  margin-bottom: 14px;
  display: flex;
  justify-content: center;
}

.status-quad {
  width: 10px;
  height: 10px;
  border: 1px solid #222222;
  background-color: rgba(255, 255, 255, 0);
}

.status-quad:not(:last-child) {
  margin-right: -1px;
}

.row {
  display: flex;
}

.quad {
  border: 1px solid #222;
  background-color: #fff;
}

.tiny {
  border-radius: 2px;
  margin: 3px;
  width: 40px;
  height: 40px;
}

.small {
  border-radius: 2px;
  margin: 4px;
  width: 50px;
  height: 50px;
}

.medium {
  border-radius: 3px;
  margin: 5px;
  width: 60px;
  height: 60px;
}

.large {
  border-radius: 3px;
  margin: 6px;
  width: 70px;
  height: 70px;
}

.giant {
  border-radius: 4px;
  margin: 7px;
  width: 80px;
  height: 80px;
}

.result-wrong .missed {
  animation: blink 1.2s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

#next {
  width: 72px;
  height: 32px;
  outline-style: none;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  transition: transform 0.2s;
  border: 2px solid #aaa;
  border-radius: 3px;
  border-radius: 16px;
}

#next:disabled {
  border-color: #ccc;
}

#next:hover:enabled {
  box-shadow: 0 0px 4px 1px #3bafda;
  border-color: #3bafda;
  background-color: #e2edf7;
  transform: translateY(1px);
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* @media screen and (max-width: 480px) {
  .value {
    font-size: 40px;
  }
  .field {
    padding: 0 7px 5px;
    border-radius: 2px;
  }
  .field:not(:last-child) {
    margin-right: 10px;
  }
  .label {
    font-size: 11px;
  }
} */

/* 
  -moz-box-shadow:
  -webkit-box-shadow:
  box-shadow:
*/
